



/*******************
 * QR CODE SCANNER *
 *******************/
.scanner-container {
  margin-bottom: 10px;
}

.scanner-container section {
  display: flex;
  justify-content: center;
}

.scanner-container section video {
  width: 290px;
  height: 250px;
  background: #000000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.scanner-container .qr-scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scanner-container .qr-scanner a {
  width: 290px; 
  height: 40px;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(68, 70, 79, 0.5);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-transform: uppercase;
}

.qr-scanner-with-error div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-scanner-with-error span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
  color: #ffffff;
  background-color: rgba(180, 60, 60, 0.85);
  border-radius: 6px;
  cursor: pointer;
}
.searching-code {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searching-code span {
  width: 290px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: rgba(68, 70, 79, 0.5);
}

/***********************
 * CLUE/LEVELS MANAGER *
 ***********************/
.clue-levels-list-container {
  display: flex;
  flex-direction: column;
}

.clue-levels-level {
  display: flex;
}

.up-and-down {
  width: 100px;
  margin: 10px;
  padding: 10px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

.level-level {
  margin: 10px;
  padding: 10px;
  background: #ffffff;
}

.level-description {
  margin: 10px;
  padding: 10px;
  background: #ffffff;
  flex: 1;
}

.level-actions {
  margin: 10px;
  padding: 10px;
  background: #ffffff;
}

/**************
 * VIDEO GAME *
 **************/
#video-game-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10000;
}

/**********
 * PODIUM *
 **********/
.podium {
  height: 150px;
  display: flex;
}

.podium-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.podium-score {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 3em;
  color: #ffffff;
}

.podium-step {
  border-top: 1px solid #949ba2;
  display: flex;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.podium-box.first .podium-step {
  height: 80%;
  font-size: 4em;
  background: #949ba2;
}
.podium-box.first .podium-step .podium-ca {
  font-size: 1em;
  line-height: 1em;
}
.podium-box.first .podium-step .podium-raw {
  font-size: 0.2em;
}
.podium-box.first .podium-step .podium-time {
  font-size: 0.2em;
}

.podium-box.second .podium-step {
  height: 50%;
  font-size: 3em;
  border-left: 1px solid #949ba2;
}
.podium-box.second .podium-step .podium-ca {
  font-size: 1em;
  line-height: 1em;
}
.podium-box.second .podium-step .podium-raw {
  font-size: 0.2em;
}
.podium-box.second .podium-step .podium-time {
  font-size: 0.2em;
}

.podium-box.third .podium-step {
  height: 33%;
  font-size: 1.5em;
  border-right: 1px solid #949ba2;
}
.podium-box.third .podium-step .podium-ca {
  font-size: 1em;
  line-height: 1em;
}
.podium-box.third .podium-step .podium-raw {
  font-size: 0.2em;
}
.podium-box.third .podium-step .podium-time {
  font-size: 0.2em;
}
