.admin-sidebar {
   height: 0px;

   //z-index: 1000;
}

.admin-sidebar .admin-sidebar-container {
  position: fixed !important;
  top: 90px !important;
  background: #fff;
  left: 20px;
  z-index: 1000 !important;
  overflow: hidden !important;
  @media screen and (max-width: 650px ) {
    width: 400px;
  }
  @media screen and (max-width: 400px ) {
    width: 350px;
  }
}

.admin-sidebar .admin-sidebar-overlay {
  z-index: 999 !important;
}
