/* FEUILLE DE STYLE DU THEME LUNA AVEC MODIFS POUR OBL ET INTEGRATION REACTs */
/*********************** GENERAL ****************************/

/* Checkbox */
.checkbox {
	float:left;
}

/* Alerts */
.alert {
  margin-top:10px;
  margin-bottom:10px;
}

/* Fix the Pace default CSS class */
.content > div {
    opacity: 1;
}

/* Bootstrap panels */
.panel {
    border: 0 none;
    border-radius: 0;
}
/* Background nav category in menu */
.luna-nav.nav .nav-category {
    background-color:#3B3E46;
}

/* Mark orange */
.mark-orange {
  background-color: #F7AF3E;
  color:#fff;
}

/* Panel heading on global scores page */
.panel-heading-global-scores {
  padding:0;
}
.panel-body-global-scores {
  padding:0;
}

/*********************** END GENERAL ****************************/


/*********************** LOGIN ****************************/

/* Fix left margin on login page */
.content-no-sidebar {
  margin-left: 0;
}

/* Login page sign up button */
.btn-signup {
	float:left;
	margin-right:5px;
}

/*********************** END LOGIN ****************************/


/*********************** DASHBOARD ****************************/

/********* Profile *********/

/* Border between profil fields to replace hr */
.profile-field {
  padding-top:0px;
  padding-bottom:0px;
}
.profile-field .panel-profile {
  border-bottom: #3d404c solid 1px;
}
.profile-field:last-of-type {
  border-bottom: 0;
}
/* Titre des panneaux deroulants */
.profile-field .panel-heading h4 {
	font-size:14px;
	font-weight:normal;
}
.profile-field .panel-heading h4 a:hover {
	text-decoration: none;
	color:inherit;
}
.profile-field .bootstrap-switch {
	margin-left:6px;
}
.profile-field .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
	background-color:#1BBF89
}
.profile-field .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
	background-color:#DB524B;
	color:#fff;
}
.profile-field .bootstrap-switch.bootstrap-switch-focused {
  border-color: #F6A821;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(246, 168, 33, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(246, 168, 33, 0.6);
}
.profile-field .bootstrap-switch .bootstrap-switch-handle-on {
	color:#035439;
}
.profile-field .bootstrap-switch .bootstrap-switch-handle-off {
	color:#750c07;
}
/********* End Profile *********/

/*********************** END DASHBOARD ****************************/

/*******************
 * QR CODE SCANNER *
 *******************/
.scanner-container {
  margin-bottom: 10px;
}

.scanner-container section {
  display: flex;
  justify-content: center;
}

.scanner-container section video {
  width: 290px;
  height: 250px;
  background: #000000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.scanner-container .qr-scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scanner-container .qr-scanner a {
  width: 290px; 
  height: 40px;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(68, 70, 79, 0.5);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-transform: uppercase;
}

.qr-scanner-with-error div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-scanner-with-error span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
  color: #ffffff;
  background-color: rgba(180, 60, 60, 0.85);
  border-radius: 6px;
  cursor: pointer;
}
.searching-code {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searching-code span {
  width: 290px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: rgba(68, 70, 79, 0.5);
}
/*******************
 * END QR CODE SCANNER *
 *******************/

 /**************
 * VIDEO GAME *
 **************/
#video-game-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10000;
}
.chrono {
  position: fixed;
  z-index: 100000;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  color: #fff;
}
.chrono .inner {
  padding: 5px;
  border-radius: 5px;
  background: #000;
  border: 1px solid #fff;
}
.chrono-alert {
  position: fixed;
  z-index: 100000;
  bottom: 60px;
  left: 0;
  right: 0;
  width: auto;
  display: block;
  color: #fff;
  max-width: 340px;
  margin: 0 auto;
}

/**********
 * PODIUM *
 **********/
.podium {
  height: 150px;
  display: flex;
}

.podium-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.podium-score {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 3em;
  color: #ffffff;
}

.podium-step {
  border-top: 1px solid #949ba2;
  display: flex;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.podium-box.first .podium-step {
  height: 80%;
  font-size: 4em;
  background: #949ba2;
}
.podium-box.first .podium-step .podium-ca {
  font-size: 1em;
  line-height: 1em;
}
.podium-box.first .podium-step .podium-raw {
  font-size: 0.2em;
}
.podium-box.first .podium-step .podium-time {
  font-size: 0.2em;
}

.podium-box.second .podium-step {
  height: 50%;
  font-size: 3em;
  border-left: 1px solid #949ba2;
}
.podium-box.second .podium-step .podium-ca {
  font-size: 1em;
  line-height: 1em;
}
.podium-box.second .podium-step .podium-raw {
  font-size: 0.2em;
}
.podium-box.second .podium-step .podium-time {
  font-size: 0.2em;
}

.podium-box.third .podium-step {
  height: 33%;
  font-size: 1.5em;
  border-right: 1px solid #949ba2;
}
.podium-box.third .podium-step .podium-ca {
  font-size: 1em;
  line-height: 1em;
}
.podium-box.third .podium-step .podium-raw {
  font-size: 0.2em;
}
.podium-box.third .podium-step .podium-time {
  font-size: 0.2em;
}

/**************
 * PLAYGROUND *
 **************/
 .btn-retour-liste-jeu {
    margin-top:24px;
 }
 .image-header-playground {
    float:left;
    margin-right: 20px;
    max-width: 80px;
 }